* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #f7f7f8;
  position: relative;
}

.container {
  max-width: 1596px;
  margin: 0 auto;
}

.sale-wrapper {
  background: #ff9500;
  padding: 14px;
  border-radius: 8px;
  max-width: 1860px;
  margin: 20px auto 0;
}

.sale-wrapper a {
  display: flex;
  gap: 23px;
  justify-content: center;
  align-items: center;
}

.sale-wrapper span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  background-color: #f7f7f8;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 24px 0;
  align-items: center;
}

.header .left-side {
  display: flex;
  gap: 50px;
}

.logo {
  width: 47px;
  height: 47px;
  border-radius: 8px;
  background-color: #ff9500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
}

nav li {
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
}

nav li .courses-open:hover {
  visibility:visible;
  opacity: 1;
  color: #ff9500;
}

nav li .courses{
  transition: all 300ms linear;
}

nav li .courses:hover + .courses-open {
  visibility:visible;
  opacity: 1;
  color: #ff9500;
}

nav li .courses-open {
  visibility: hidden;
  opacity: 0;
  transition: all 300ms linear;
  position: absolute;
  top: 39px;
  padding-top: 12px;
}

nav li .courses-open span {
  padding-top: 2px;
  white-space: pre-line;
}

nav a {
  color: #262626;
}

.active {
  background-color: #f1f1f3;
}

.header .right-side a {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

.header .right-side a:nth-child(2) {
  background-color: #ff9500;
  color: #fff;
}

.header .right-side a:active {
  scale: 0.99;
}

.burger-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.burger-menu .bar {
  background-color: #000;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}

.burger-menu .bar:nth-child(1) {
  width: 18px;
}
main .top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 133px;
}
main .top-side #heading {
  width: 748px;
  color: #262626;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
main .top-side #paragraph {
  width: 748px;
  color: #59595a;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.video {
  width: 1596px;
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

#videoCover {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.video #triangle {
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  border-radius: 50%;
  border: 9px solid rgba(255, 255, 255, 0.3);
  padding: 14px;
}
#triangle img {
  width: 44px;
  height: 44px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  width: 783px;
  height: 698px;
  background-color: #fff;
  margin-top: 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cards:nth-child(3) {
  margin-bottom: 100px;
}
.card #number {
  color: #262626;
  text-align: right;
  font-size: 80px;
  font-weight: 700;
  height: 59px;
}
.card #introduction {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.144px;
}
.card .feature-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card .feature-items .feature-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 24px 30px;
}
.feature-items:nth-child(3) .time {
  max-width: 167px;
}
.feature-items:nth-child(3) .time {
  max-width: 167px;
}
.card .feature-items .feature-item .item-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  gap: 6px;
}
.card .feature-items .feature-item .item-left-side #heading {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.card .feature-items .feature-item .item-left-side #lesson {
  color: #59595a;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.card .feature-items .feature-item .time {
  margin-top: 5px;
  padding: 12px 14px;
  background-color: #f7f7f8;
  color: #59595a;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  gap: 4px;
}

.active .time {
  background-color: #ffeacc !important;
}

footer {
  background: #fff;
  bottom: 0;
  width: 100%;
}

footer .container {
  padding: 100px 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer .top-side {
  display: flex;
  justify-content: space-between;
}

footer .top-side .left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

footer .text-container .wrapper a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: #262626;
  font-weight: 400;
}

footer .top-side .right-side {
  display: flex;
  gap: 30px;
}

footer .top-side .right-side .info-wrapper {
  display: flex;
  gap: 30px;
}

footer .top-side .right-side .info-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 250px;
}

footer .top-side .right-side .wrapper h4 {
  font-size: 20px;
  font-weight: 600;
}

footer .top-side .right-side .info-wrapper .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  color: #59595a;
  font-weight: 400;
}

footer .top-side .right-side .wrapper .social-wrapper {
  display: flex;
  gap: 14px;
}

footer .top-side .right-side .wrapper .social-wrapper div {
  padding: 14px;
  background: #f7f7f8;
  border-radius: 8px;
  margin-top: 14px;
}

footer .line {
  background-color: #f1f1f3;
  width: 100%;
  height: 1px;
}

footer .bottom-side {
  text-align: center;
}

footer .bottom-side span {
  font-size: 18px;
  color: #656567;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .sale-wrapper {
    padding: 10px;
    max-width: 1400px;
  }

  .sale-wrapper span {
    font-size: 14px;
  }

  header {
    position: sticky;
    top: 0;
    background-color: #f7f7f8;
  }

  .header {
    padding: 16px 0 20px 0;
  }

  nav li {
    padding: 12px 20px;
    font-size: 14px;
  }

  .header .right-side a {
    padding: 12px 24px;
    font-size: 14px;
  }
  main .top-side {
    margin-top: 100px;
    margin-bottom: 80px;
  }
  main .top-side #heading {
    width: 600px;
    font-size: 38px;
  }
  main .top-side #paragraph {
    width: 600px;
    font-size: 16px;
  }
  .video {
    width: 1280px;
    height: 649px;
  }
  .cards {
    width: 100%;
    margin-top: 60px;
  }
  .cards .card {
    width: 630px;
    height: 527px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    margin-top: 20px !important;
  }
  .cards:nth-child(1) {
    height: 588px;
  }
  .cards:nth-child(2) {
    height: 588px;
  }
  .cards:nth-child(3) {
    margin-bottom: 80px;
  }
  .card #number {
    font-size: 60px;
    height: 44px;
  }
  .card #intoduction {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.12px;
  }
  .card .feature-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card .feature-items .feature-item {
    padding: 20px 24px;
    width: 550px;
  }
  .feature-item .item-left-side {
    display: flex;
    gap: 0px !important;
    flex-grow: 1;
  }
  .feature-items .feature-item .item-left-side #heading {
    font-size: 16px !important;
    width: 345px !important;
  }
  .feature-items .feature-item .item-left-side #lesson {
    font-size: 14px;
    height: 24px;
  }
  .feature-item .time {
    padding: 10px;
    font-size: 14px;
    background-color: #f7f7f8;
    color: #59595a;
    border-radius: 6px;
    font-weight: 400;
    gap: 4px;
  }
  .feature-item .time span {
    font-size: 14px;
  }
  .feature-item:nth-child(3) {
    display: flex;
    gap: 0px !important;
  }

  footer .container {
    padding: 60px 0 20px 0;
    gap: 30px;
  }

  footer .top-side .left-side {
    gap: 30px;
  }

  footer .text-container {
    gap: 14px;
  }

  footer .text-container .wrapper a {
    gap: 4px;
    font-size: 16px;
  }

  footer .top-side .right-side {
    gap: 24px;
  }

  footer .top-side .right-side .info-wrapper .wrapper {
    gap: 10px;
    width: 230px;
  }

  footer .top-side .right-side .wrapper h4 {
    font-size: 18px;
  }

  footer .top-side .right-side .info-wrapper .wrapper ul {
    font-size: 16px;
  }

  footer .top-side .right-side .wrapper .social-wrapper div {
    padding: 12px;
  }

  footer .bottom-side span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 390px;
    padding: 40px 16px 0 16px;
  }

  .sale-wrapper {
    padding: 10px 13px;
    max-width: calc(100%-32px);
    margin: 40px 16px 0;
  }

  .sale-wrapper a {
    justify-content: space-between;
  }

  .sale-wrapper span {
    font-size: 14px;
  }

  .header {
    padding: 14px 0;
  }

  .header .left-side {
    gap: 0px;
  }
  .logo {
    width: 36px;
    height: 36px;
  }

  nav {
    display: none;
  }

  .header .right-side {
    display: flex;
    gap: 20px;
  }

  .header .right-side a {
    padding: 12px 20px;
  }

  .burger-menu {
    opacity: 1;
    visibility: visible;
  }
  main .top-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 358px;
  }
  main .top-side #heading {
    width: 358px;
    font-size: 28px;
  }
  main .top-side #paragraph {
    width: 350px;
    font-size: 14px;
  }
  .video {
    width: 358px;
    height: 247px;
    margin: 50px 0;
  }
  .video #videoCover {
    border-radius: 10px;
  }
  .cards {
    max-width: 100%;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cards .card {
    max-width: 358px;
    height: 837px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 24px;
  }
  .card #number {
    font-size: 50px;
    height: 37px;
    margin-bottom: 30px;
  }
  .card #intoduction {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.108px;
    margin-bottom: 30px;
  }
  .card .feature-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card .feature-items .feature-item {
    width: 298px;
    height: 183px;
    padding: 24px !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .feature-item:nth-child(3) {
    margin-bottom: 100px;
  }
  .item-left-side {
    width: 250px;
    height: 69px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .feature-items .feature-item .item-left-side #heading {
    font-size: 16px !important;
    height: 48px;
    width: 250px !important;
  }
  .feature-items .feature-item .item-left-side #lesson {
    width: 250px;
    height: 21px;
    font-size: 14px !important;
    margin-top: 25px;
  }
  .feature-items .feature-item .item-left-side #lesson span {
    font-size: 14px;
  }
  .feature-items:nth-child(3) #lesson {
    margin-top: 20px !important;
  }
  /* .feature-items:nth-child(3) .time{
    margin-top: 20px  !important;
  } */
  .feature-item .time {
    font-size: 14px;
    display: flex;
    align-self: flex-start;
    margin-top: 10px !important;
  }
  .feature-item .time span {
    line-height: normal;
    font-size: 14px;
  }
  footer .container {
    padding: 50px 20px 24px;
    gap: 20px;
  }

  footer .top-side {
    display: flex;
    flex-direction: column;
  }

  footer .text-container {
    gap: 12px;
  }

  footer .text-container .wrapper a {
    gap: 12px;
    font-size: 15px;
  }

  footer .top-side .right-side {
    flex-direction: column;
  }

  footer .top-side .right-side .info-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 30px;
  }

  footer .top-side .right-side .info-wrapper .wrapper:nth-child(1) {
    width: 128px;
  }

  footer .top-side .right-side .info-wrapper .wrapper:nth-child(2) {
    width: 205px;
  }

  footer .top-side .right-side .info-wrapper .wrapper ul {
    gap: 4px;
    font-size: 14px;
  }

  footer .top-side .right-side .wrapper .social-wrapper div {
    margin-top: 10px;
    padding: 12px;
  }

  footer .bottom-side span {
    font-size: 14px;
  }
}
