* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  background: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #f7f7f8;
  position: relative;
}

.container {
  max-width: 1596px;
  margin: 0 auto;
}

.sale-wrapper {
  background: #ff9500;
  padding: 14px;
  border-radius: 8px;
  max-width: 1860px;
  margin: 20px auto 0;
}

.sale-wrapper a {
  display: flex;
  gap: 23px;
  justify-content: center;
  align-items: center;
}

.sale-wrapper span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

/* sale-wrapper end */
/* header start */

header {
  position: sticky;
  top: 0;
  background-color: #f7f7f8;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 24px 0;
  align-items: center;
  margin-bottom: 80px;
  z-index: 2;
}

.header .left-side {
  display: flex;
  gap: 50px;
}

.logo {
  width: 47px;
  height: 47px;
  border-radius: 8px;
  background-color: #ff9500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
}

nav li {
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

nav a {
  color: #262626;
}

.active {
  background-color: #f1f1f3;
}

.header .right-side {
  display: flex;
  gap: 30px;
}

.header .right-side a {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

.header .right-side a:nth-child(2) {
  background-color: #ff9500;
  color: #fff;
}

.header .right-side a:active {
  scale: 0.99;
}

.burger-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.burger-menu .bar {
  background-color: #000;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}

.burger-menu .bar:nth-child(1) {
  width: 18px;
}

/* header end */
/* main start */

.main-about {
  /* max-width: calc(100% - 32px); */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.main-about h2 {
  color: #262626;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
}

.main-about p {
  width: 748px;
  color: #59595A;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

main .line {
  background-color: #E4E4E7;
  height: 1px;
  max-width: 1860px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.achieve-info h2,
.goals-info h2 {
  color: #333;
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 6px;
}

.achieve-info p,
.goals-info p {
  color: #59595A;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 80px;
}

.achieve-items,
.goals-items {
  display: grid;
  grid-template-columns: repeat(2, 783px);
  gap: 30px;
  margin-bottom: 177px;
}

.achieve-items .item,
.goals-items .item {
  padding: 50px;
  border-radius: 12px;
  background: white;
}

.achieve-items .item h4,
.goals-items .item h4 {
  margin: 30px 0 14px;
  color: #262626;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.achieve-items .item p,
.goals-items .item p {
  color: #59595A;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.goals-items {
  margin-bottom: 80px;
}

.goals-footer {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 80px;
  margin-bottom: 150px;
  position: relative;
}

.goals-footer-text{
  z-index: 1;
}

.goals-footer-text h4 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
  width: 1008px;
}

.goals-footer-text h4 span {
  color: #FF9500;
}

.goals-footer-text p {
  color: #4C4C4D;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.goals-footer img{
  position: absolute;
  top: 0;
  right: 14%;
}


.goals-footer button {
  height: fit-content;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  padding: 18px 24px;
  border-radius: 8px;
  background: #FF9500;
  border: none;
  cursor: pointer;
}

/* main end */
/* footer start */

footer {
  background: #fff;
  bottom: 0;
  width: 100%;
}

footer .container {
  padding: 100px 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer .top-side {
  display: flex;
  justify-content: space-between;
}

footer .top-side .left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

footer .text-container .wrapper a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: #262626;
  font-weight: 400;
}

footer .top-side .right-side {
  display: flex;
  gap: 30px;
}

footer .top-side .right-side .info-wrapper {
  display: flex;
  gap: 30px;
}

footer .top-side .right-side .info-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 250px;
}

footer .top-side .right-side .wrapper h4 {
  font-size: 20px;
  font-weight: 600;
}

footer .top-side .right-side .info-wrapper .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  color: #59595a;
  font-weight: 400;
}

footer .top-side .right-side .wrapper .social-wrapper {
  display: flex;
  gap: 14px;
}

footer .top-side .right-side .wrapper .social-wrapper div {
  padding: 14px;
  background: #f7f7f8;
  border-radius: 8px;
  margin-top: 14px;
}

footer .line {
  background-color: #f1f1f3;
  width: 100%;
  height: 1px;
}

footer .bottom-side {
  text-align: center;
}

footer .bottom-side span {
  font-size: 18px;
  color: #656567;
  font-weight: 400;
}

/* footer end */

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1280px;
    padding: 0 20px;
  }

  .sale-wrapper {
    margin: 20px 16px 0;
    padding: 10px;
    max-width: 1400px;
  }

  .sale-wrapper span {
    font-size: 14px;
  }

  header {
    position: sticky;
    top: 0;
    background-color: #f7f7f8;
  }

  .header {
    padding: 16px 0 20px 0;
    margin-bottom: 80px;
  }

  nav li {
    padding: 12px 20px;
    font-size: 14px;
  }

  .header .right-side a {
    padding: 12px 24px;
    font-size: 14px;
  }

  /* header end */
  /* main start */


  /* .main-about {
    max-width: calc(100% - 32px);
    padding-bottom: 40px;
  }
  
  .main-about h2 {
    font-size: 38px;
  }
  
  .main-about p {
    width: 600px;
    font-size: 16px;
  }
  
  .line {
    max-width: 1400px;
  } */


  /* main end */
  /* footer start */

  footer .container {
    padding: 60px 0 20px 0;
    gap: 30px;
  }

  footer .top-side .left-side {
    gap: 30px;
  }

  footer .text-container {
    gap: 14px;
  }

  footer .text-container .wrapper a {
    gap: 4px;
    font-size: 16px;
  }

  footer .top-side .right-side {
    gap: 24px;
  }

  footer .top-side .right-side .info-wrapper .wrapper {
    gap: 10px;
    width: 230px;
  }

  footer .top-side .right-side .wrapper h4 {
    font-size: 18px;
  }

  footer .top-side .right-side .info-wrapper .wrapper ul {
    font-size: 16px;
  }

  footer .top-side .right-side .wrapper .social-wrapper div {
    padding: 12px;
  }

  footer .bottom-side span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: calc(100%-32px);
    padding: 0 20px;
  }

  .sale-wrapper {
    padding: 10px 16px;
    max-width: calc(100%-32px);
    margin: 40px 16px 0;
  }

  .sale-wrapper a {
    justify-content: space-between;
  }

  .sale-wrapper span {
    font-size: 14px;
  }

  .header {
    padding: 14px 0;
    margin-bottom: 50px;
  }

  .header .left-side {
    gap: 0px;
  }

  .logo {
    width: 36px;
    height: 36px;
  }

  nav {
    display: none;
  }

  .header .right-side {
    gap: 20px;
  }

  .header .right-side a {
    padding: 12px 20px;
  }

  .burger-menu {
    opacity: 1;
    visibility: visible;
  }

  /* header end */
  /* main start */


  /* .main-about {
    max-width: calc(100% - 32px);
    display:flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 50px;
  }
  
  .main-about h2 {
    font-size: 28px;
  }
  
  .main-about p {
    width: 358px;
    font-size: 14px;
  }
  
  .line {
    max-width: calc(100%-32px);
  } */


  /* main end */
  /* footer start */

  footer .container {
    padding: 50px 20px 24px;
    gap: 20px;
  }

  footer .top-side {
    display: flex;
    flex-direction: column;
  }

  footer .text-container {
    gap: 12px;
  }

  footer .text-container .wrapper a {
    gap: 12px;
    font-size: 15px;
  }

  footer .top-side .right-side {
    flex-direction: column;
  }

  footer .top-side .right-side .info-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 30px;
  }

  footer .top-side .right-side .info-wrapper .wrapper:nth-child(1) {
    width: 128px;
  }

  footer .top-side .right-side .info-wrapper .wrapper:nth-child(2) {
    width: 205px;
  }

  footer .top-side .right-side .info-wrapper .wrapper ul {
    gap: 4px;
    font-size: 14px;
  }

  footer .top-side .right-side .wrapper .social-wrapper div {
    margin-top: 10px;
    padding: 12px;
  }

  footer .bottom-side span {
    font-size: 14px;
  }
}