* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #f7f7f8;
  position: relative;
}

.container {
  max-width: 1596px;
  margin: 0 auto;
}

.sale-wrapper {
  background: #ff9500;
  padding: 14px;
  border-radius: 8px;
  max-width: 1860px;
  margin: 20px auto 0;
}

.sale-wrapper a {
  display: flex;
  gap: 23px;
  justify-content: center;
  align-items: center;
}

.sale-wrapper span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  background-color: #f7f7f8;
  z-index: 10000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 24px 0;
  align-items: center;
}

.header .left-side {
  display: flex;
  gap: 50px;
}

.logo {
  width: 47px;
  height: 47px;
  border-radius: 8px;
  background-color: #ff9500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
}

nav li {
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

nav a {
  color: #262626;
}

.active {
  background-color: #f1f1f3;
}

.header .right-side {
  display: flex;
  gap: 30px;
}

.header .right-side a {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

.header .right-side a:nth-child(2) {
  background-color: #ff9500;
  color: #fff;
}

.header .right-side a:active {
  scale: 0.99;
}

.burger-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.burger-menu .bar {
  background-color: #000;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}

.burger-menu .bar:nth-child(1) {
  width: 18px;
}

footer {
  background: #fff;
  width: 100%;
}

footer .container {
  padding: 100px 0 30px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer .top-side {
  display: flex;
  justify-content: space-between;
}

footer .top-side .left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

footer .text-container .wrapper a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: #262626;
  font-weight: 400;
}

footer .top-side .right-side {
  display: flex;
  gap: 30px;
}

footer .top-side .right-side .info-wrapper {
  display: flex;
  gap: 30px;
}

footer .top-side .right-side .info-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 250px;
}

footer .top-side .right-side .wrapper h4 {
  font-size: 20px;
  font-weight: 600;
}

footer .top-side .right-side .info-wrapper .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
  color: #59595a;
  font-weight: 400;
}

footer .top-side .right-side .wrapper .social-wrapper {
  display: flex;
  gap: 14px;
}

footer .top-side .right-side .wrapper .social-wrapper div {
  padding: 14px;
  background: #f7f7f8;
  border-radius: 8px;
  margin-top: 14px;
}

footer .line {
  background-color: #f1f1f3;
  width: 100%;
  height: 1px;
}

footer .bottom-side {
  text-align: center;
}

footer .bottom-side span {
  font-size: 18px;
  color: #656567;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }

  .sale-wrapper {
    padding: 10px;
    max-width: 1400px;
  }

  .sale-wrapper span {
    font-size: 14px;
  }

  header {
    position: sticky;
    top: 0;
    background-color: #f7f7f8;
  }

  .header {
    padding: 16px 0 20px 0;
  }

  nav li {
    padding: 12px 20px;
    font-size: 14px;
  }

  .header .right-side a {
    padding: 12px 24px;
    font-size: 14px;
  }

  footer .container {
    padding: 60px 0 20px 0;
    gap: 30px;
  }

  footer .top-side .left-side {
    gap: 30px;
  }

  footer .text-container {
    gap: 14px;
  }

  footer .text-container .wrapper a {
    gap: 4px;
    font-size: 16px;
  }

  footer .top-side .right-side {
    gap: 24px;
  }

  footer .top-side .right-side .info-wrapper .wrapper {
    gap: 10px;
    width: 230px;
  }

  footer .top-side .right-side .wrapper h4 {
    font-size: 18px;
  }

  footer .top-side .right-side .info-wrapper .wrapper ul {
    font-size: 16px;
  }

  footer .top-side .right-side .wrapper .social-wrapper div {
    padding: 12px;
  }

  footer .bottom-side span {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: calc(100%-32px);
    padding: 0 16px;
  }

  .sale-wrapper {
    padding: 10px 13px;
    max-width: calc(100%-32px);
    margin: 40px 16px 0;
  }

  .sale-wrapper a {
    justify-content: space-between;
  }

  .sale-wrapper span {
    font-size: 14px;
  }

  .header {
    padding: 14px 0;
  }

  .header .left-side {
    gap: 0px;
  }

  .logo {
    width: 36px;
    height: 36px;
  }

  nav {
    display: none;
  }

  .header .right-side {
    gap: 20px;
  }

  .header .right-side a {
    padding: 12px 20px;
  }

  .burger-menu {
    opacity: 1;
    visibility: visible;
  }

  footer .container {
    padding: 50px 20px 24px;
    gap: 20px;
  }

  footer .top-side {
    display: flex;
    flex-direction: column;
  }

  footer .text-container {
    gap: 12px;
  }

  footer .text-container .wrapper a {
    gap: 12px;
    font-size: 15px;
  }

  footer .top-side .right-side {
    flex-direction: column;
  }

  footer .top-side .right-side .info-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 30px;
  }

  footer .top-side .right-side .info-wrapper .wrapper:nth-child(1) {
    width: 128px;
  }

  footer .top-side .right-side .info-wrapper .wrapper:nth-child(2) {
    width: 205px;
  }

  footer .top-side .right-side .info-wrapper .wrapper ul {
    gap: 4px;
    font-size: 14px;
  }

  footer .top-side .right-side .wrapper .social-wrapper div {
    margin-top: 10px;
    padding: 12px;
  }

  footer .bottom-side span {
    font-size: 14px;
  }
}

/* ---------------------MAIN--------------------------- */
main {
  margin-top: 100px;
}

.introduction {
  display: flex;
  flex-direction: column;
  width: 965px;
  margin: 0 auto;
  text-align: center;
}

.introduction .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction .wrapper .h2-container {
  display: flex;
  gap: 10px;
  border-radius: 11px;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
  padding: 14px 20px;
  position: relative;
  width: auto;
  margin-bottom: 20px;
}

.introduction .wrapper .h2-container .introduction-effect {
  position: absolute;
  top: -30px;
  left: -30px;
}

.introduction .wrapper .h2-container .bolt-img {
  width: 34px;
  height: 34px;
  padding: 14px;
  border-radius: 6px;
  box-sizing: content-box;
  background: #fff4e5;
}

.introduction .wrapper .h2-container .bolt-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.introduction .wrapper .h2-container h2 {
  color: #1a1a1a;
  font-size: 48px;
  font-weight: 600;
}

.introduction .wrapper .h2-container h2 span {
  color: #ff9500;
}

.introduction .wrapper h3 {
  font-size: 38px;
  color: #262626;
  font-weight: 500;
  margin-bottom: 10px;
}

.introduction .wrapper p {
  font-size: 18px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 60px;
}

.introduction .btn-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.introduction .btn-container button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #ff9500;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 18px 24px;
  cursor: pointer;
  margin-bottom: 100px;
}

.introduction .btn-container button:nth-child(2) {
  font-weight: 500;
  background: #fff;
  border-color: #f1f1f3;
  color: #262626;
}

.introduction .btn-container button:active {
  scale: 0.99;
}

main .sponsor-container {
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
  display: flex;
  padding: 30px;
  margin-bottom: 100px;
}

main .sponsor-container .img-container {
  padding: 30px 40px;
  border-right: 1px solid #f1f1f3;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

main .sponsor-container .img-container img {
  max-width: 100%;
  max-height: 100%;
}

main .sponsor-container .img-container:last-child {
  border-right: 1px solid transparent;
  border-left: 1px solid #f1f1f3;
}

main .index-main-image {
  margin-bottom: 150px;
}

main .index-main-image img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1440px) {
  main {
    margin-top: 80px;
  }

  .introduction {
    width: 941px;
  }

  .introduction .wrapper .h2-container {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
  }

  .introduction .wrapper .h2-container .bolt-img {
    padding: 12px;
  }

  .introduction .wrapper .h2-container h2 {
    font-size: 36px;
  }

  .introduction .wrapper h3 {
    font-size: 28px;
    margin-bottom: 6px;
  }

  .introduction .wrapper p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .introduction .btn-container button {
    font-size: 14px;
    padding: 14px 20px;
    border-radius: 6px;
  }

  main .sponsor-container {
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 80px;
  }

  main .sponsor-container .img-container {
    padding: 20px 30px;
    max-width: 100%;
  }

  main .index-main-image {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  main {
    margin-top: 50px;
  }

  .introduction {
    width: 332px;
  }

  .introduction .wrapper .h2-container {
    padding: 14px;
  }

  .introduction .wrapper .h2-container h2 {
    font-size: 16px;
  }

  .introduction .wrapper .h2-container .bolt-img {
    width: 24px;
    height: 24px;
  }

  .introduction .wrapper .h2-container .introduction-effect {
    top: -15px;
    left: -15px;
  }

  .introduction .wrapper h3 {
    font-size: 24px;
  }

  .introduction .wrapper p {
    font-size: 14px;
  }

  .introduction .btn-container button {
    margin-bottom: 30px;
  }

  main .sponsor-container {
    padding: 10px;
    margin-bottom: 80px;
  }

  main .sponsor-container .img-container:nth-child(3) {
    border-right-color: transparent;
    border-left-color: #f1f1f3;
  }

  main .sponsor-container .img-container:nth-child(4) {
    display: none;
  }

  main .sponsor-container .img-container:nth-child(5) {
    display: none;
  }

  main .sponsor-container .img-container:nth-child(6) {
    display: none;
  }

  main .sponsor-container .img-container:nth-child(7) {
    display: none;
  }

  main .index-main-image {
    margin-bottom: 50px;
  }
}

/* Benefits-Container */

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.benefits-container .wrapper {
  display: flex;
  gap: 300px;
  width: 100%;
}

.benefits-container .wrapper .text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.benefits-container .wrapper .text-container h2 {
  color: #262626;
  font-size: 48px;
  font-weight: 600;
}

.benefits-container .wrapper .text-container p {
  color: #59595a;
  font-size: 18px;
  font-weight: 400;
}

.benefits-container .wrapper button {
  align-self: end;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
  padding: 18px 24px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #262626;
  flex-shrink: 0;
}

.benefits-container .wrapper button:active {
  scale: 0.99;
}

.benefits-container .card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 100px;
}

.benefits-container .card-container .card {
  padding: 50px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.benefits-container .card-container .card h1 {
  align-self: end;
  font-size: 80px;
  font-weight: 700;
  color: #262626;
}

.benefits-container .card-container .card .text-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.benefits-container .card-container .card .text-container h5 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.benefits-container .card-container .card .text-container p {
  color: #4c4c4d;
  font-size: 18px;
  font-weight: 400;
}

.benefits-container .card-container .card .arrow-img {
  width: 74px;
  height: 74px;
  align-self: end;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
}

@media screen and (max-width: 1440px) {
  .benefits-container {
    gap: 60px;
  }

  .benefits-container .wrapper {
    gap: 250px;
  }

  .benefits-container .wrapper .text-container h2 {
    font-size: 38px;
  }

  .benefits-container .wrapper .text-container p {
    font-size: 16px;
  }

  .benefits-container .wrapper button {
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 14px;
  }

  .benefits-container .card-container {
    gap: 20px;
    grid-template-rows: repeat(2, 1fr);
  }

  .benefits-container .card-container .card {
    padding: 40px;
    border-radius: 10px;
    gap: 40px;
  }

  .benefits-container .card-container .card h1 {
    font-size: 60px;
  }

  .benefits-container .card-container .card .text-container {
    gap: 10px;
  }

  .benefits-container .card-container .card .text-container h5 {
    font-size: 20px;
  }

  .benefits-container .card-container .card .text-container p {
    font-size: 16px;
  }

  .benefits-container .card-container .card .arrow-img {
    width: 54px;
    height: 54px;
    padding: 14px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 1024px) {
  .benefits-container {
    gap: 40px;
  }

  .benefits-container .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .benefits-container .wrapper .text-container h2 {
    font-size: 28px;
  }

  .benefits-container .wrapper .text-container p {
    font-size: 14px;
  }

  .benefits-container .wrapper button {
    align-self: start;
  }

  .benefits-container .card-container {
    gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .benefits-container .card-container .card {
    padding: 30px;
    gap: 30px;
  }

  .benefits-container .card-container .card:nth-child(5) {
    display: none;
  }

  .benefits-container .card-container .card:nth-child(6) {
    display: none;
  }

  .benefits-container .card-container .card h1 {
    font-size: 50px;
  }

  .benefits-container .card-container .card .text-container p {
    font-size: 14px;
  }
}

/* Courses-Container */

.courses-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.courses-container .wrapper {
  display: flex;
  gap: 300px;
  width: 100%;
}

.courses-container .wrapper .text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.courses-container .wrapper .text-container h2 {
  color: #262626;
  font-size: 48px;
  font-weight: 600;
}

.courses-container .wrapper .text-container p {
  color: #59595a;
  font-size: 18px;
  font-weight: 400;
}

.courses-container .wrapper button {
  align-self: end;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
  padding: 18px 24px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #262626;
  flex-shrink: 0;
}

.courses-container .wrapper button:active {
  scale: 0.99;
}

.courses-container .card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 100px;
}

.courses-container .card-container .card {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background: #fff;
}

.courses-container .card-container .card .img-container {
  height: 380px;
  border-radius: 8px;
  overflow: hidden;
}

.courses-container .card-container .card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses-container .card-container .card .user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-container .card-container .card .user-container .exp-container {
  display: flex;
  gap: 10px;
}

.courses-container .card-container .card .user-container .exp-container p {
  padding: 10px 16px;
  color: #4c4c4d;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
}

.courses-container .card-container .card .user-container h6 {
  color: #262626;
  font-size: 20px;
  font-weight: 500;
}

.courses-container .card-container .card .text-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.courses-container .card-container .card .text-container h4 {
  color: #262626;
  font-size: 24px;
  font-weight: 600;
}

.courses-container .card-container .card .text-container p {
  color: #4c4c4d;
  font-size: 18px;
  font-weight: 400;
}

.courses-container .card-container .card button {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
  color: #262626;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.courses-container .card-container .card button:active {
  scale: 0.99;
}

@media screen and (max-width: 1440px) {
  .courses-container {
    gap: 60px;
  }

  .courses-container .wrapper {
    gap: 250px;
  }

  .courses-container .wrapper .text-container h2 {
    font-size: 38px;
  }

  .courses-container .wrapper .text-container p {
    font-size: 16px;
  }

  .courses-container .wrapper button {
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 14px;
  }

  .courses-container .card-container {
    gap: 20px;
  }

  .courses-container .card-container .card {
    padding: 40px;
    gap: 24px;
    border-radius: 10px;
  }

  .courses-container .card-container .card .img-container {
    height: 266px;
  }

  .courses-container .card-container .card .user-container .exp-container p {
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 6px;
  }

  .courses-container .card-container .card .user-container h6 {
    font-size: 16px;
  }

  .courses-container .card-container .card .text-container {
    gap: 10px;
  }

  .courses-container .card-container .card .text-container h4 {
    font-size: 20px;
  }

  .courses-container .card-container .card .text-container p {
    font-size: 16px;
  }

  .courses-container .card-container .card button {
    padding: 14px 24px;
    border-radius: 6px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .courses-container {
    gap: 40px;
  }

  .courses-container .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .courses-container .wrapper .text-container h2 {
    font-size: 28px;
  }

  .courses-container .wrapper .text-container p {
    font-size: 14px;
  }

  .courses-container .wrapper button {
    align-self: start;
  }
  .courses-container .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .courses-container .card-container .card {
    padding: 24px;
  }

  .courses-container .card-container .card .img-container {
    height: 172px;
  }

  .courses-container .card-container .card .user-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
  }

  .courses-container .card-container .card .text-container h4 {
    font-size: 18px;
  }

  .courses-container .card-container .card .text-container p {
    font-size: 14px;
  }
}

/* Testimonials-Container */

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.testimonials-container .wrapper {
  display: flex;
  width: 100%;
  gap: 300px;
}

.testimonials-container .wrapper .text-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.testimonials-container .wrapper .text-container h2 {
  color: #262626;
  font-size: 48px;
  font-weight: 600;
}

.testimonials-container .wrapper .text-container p {
  color: #59595a;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-container .wrapper button {
  align-self: end;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background: #fcfcfd;
  padding: 18px 24px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #262626;
  flex-shrink: 0;
}

.testimonials-container .wrapper button:active {
  scale: 0.99;
}

.testimonials-container .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 170px;
}

.testimonials-container .card-container .card {
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
}

.testimonials-container .card-container .card p {
  border-bottom: 1px solid #f1f1f3;
  padding: 50px;
  color: #4c4c4d;
  font-size: 18px;
  font-weight: 400;
}

.testimonials-container .card-container .card .user-container {
  background-color: #fcfcfd;
  display: flex;
  padding: 30px;
  align-items: center;
}

.testimonials-container .card-container .card .user-container .left-side {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  align-items: center;
}

.testimonials-container .card-container .card .user-container .left-side h4 {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.testimonials-container
  .card-container
  .card
  .user-container
  .left-side
  .user-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
}

.testimonials-container
  .card-container
  .card
  .user-container
  .left-side
  .user-image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-container .card-container .card .user-container button {
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  background-color: #f7f7f8;
  color: #262626;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.testimonials-container .card-container .card .user-container button:active {
  scale: 0.99;
}

@media screen and (max-width: 1440px) {
  .testimonials-container {
    gap: 60px;
  }

  .testimonials-container .wrapper {
    gap: 250px;
  }

  .testimonials-container .wrapper .text-container h2 {
    font-size: 38px;
  }

  .testimonials-container .wrapper .text-container p {
    font-size: 16px;
  }

  .testimonials-container .wrapper button {
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 14px;
  }

  .testimonials-container .card-container {
    gap: 20px;
    margin-bottom: 100px;
  }

  .testimonials-container .card-container .card {
    border-radius: 10px;
  }

  .testimonials-container .card-container .card p {
    padding: 40px;
    font-size: 16px;
  }

  .testimonials-container .card-container .card .user-container {
    padding: 24px;
  }

  .testimonials-container .card-container .card .user-container .left-side {
    gap: 10px;
  }

  .testimonials-container .card-container .card .user-container .left-side h4 {
    font-size: 16px;
  }

  .testimonials-container
    .card-container
    .card
    .user-container
    .left-side
    .user-image {
    width: 50px;
    height: 50px;
    border-radius: 6px;
  }

  .testimonials-container .card-container .card .user-container button {
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .testimonials-container {
    gap: 40px;
  }

  .testimonials-container .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .testimonials-container .wrapper .text-container h2 {
    font-size: 28px;
  }

  .testimonials-container .wrapper .text-container p {
    font-size: 14px;
  }

  .testimonials-container .wrapper button {
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 14px;
    align-self: start;
  }

  .testimonials-container .card-container {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .testimonials-container .card-container .card p {
    padding: 30px;
    font-size: 14px;
  }

  .testimonials-container .card-container .card .user-container {
    padding: 20px 30px;
  }
}
/* Pricing-Container */

.pricing-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.pricing-container .wrapper {
  display: flex;
  width: 100%;
  gap: 300px;
}

.pricing-container .wrapper .text-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.pricing-container .wrapper .text-container h2 {
  color: #262626;
  font-size: 48px;
  font-weight: 600;
}

.pricing-container .wrapper .text-container p {
  color: #59595a;
  font-size: 18px;
  font-weight: 400;
}

.pricing-container .wrapper .btn-container {
  align-self: end;
  padding: 12px;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
}

.pricing-container .wrapper .btn-container button {
  padding: 14px 30px;
  border-radius: 6px;
  background-color: #ff9500;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.pricing-container .wrapper .btn-container button:nth-child(2) {
  color: #4c4c4d;
  background-color: transparent;
}

.pricing-container .wrapper button:active {
  scale: 0.99;
}

.pricing-container .card-container {
  display: flex;
  padding: 80px;
  gap: 30px;
  margin-bottom: 150px;
  border-radius: 12px;
  background-color: #fff;
}

.pricing-container .card-container .card {
  flex-grow: 1;
  padding: 50px 30px 30px;
  border-radius: 12px;
  border: 1px solid #f1f1f3;
  background-color: #fcfcfd;
}

.pricing-container .card-container .card h5 {
  border-radius: 6px;
  border: 1px solid #ffeacc;
  background-color: #fff9f0;
  padding: 12px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #262626;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
}

.pricing-container .card-container .card .price-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 50px;
}

.pricing-container .card-container .card .price-wrapper h2 {
  color: #262626;
  font-size: 80px;
  font-weight: 600;
}

.pricing-container .card-container .card .price-wrapper span {
  color: #4c4c4d;
  font-size: 20px;
  font-weight: 500;
}

.pricing-container .card-container .card .features-wrapper {
  border-radius: 14px 14px 0px 0px;
  border: 1px solid #f1f1f3;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.pricing-container .card-container .card .features-wrapper #A1 {
  color: #262626;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.pricing-container .card-container .card .features-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 0 30px;
}

.pricing-container .card-container .card .features-wrapper li {
  display: flex;
  gap: 12px;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #f1f1f3;
  align-items: center;
  width: 100%;
}

.pricing-container .card-container .card .features-wrapper li p {
  color: #4c4c4d;
  font-size: 18px;
  font-weight: 400;
}

.pricing-container .card-container .card .features-wrapper li .check-img {
  box-sizing: content-box;
  border-radius: 6px;
  background-color: #fff4e5;
  padding: 6px;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

.pricing-container .card-container .card .features-wrapper li .check-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pricing-container .card-container .card .features-wrapper li .reject {
  border: 1px solid #f1f1f3;
  background-color: transparent;
}

.pricing-container .card-container .card button {
  border-radius: 0px 0px 8px 8px;
  padding: 20px 24px;
  background-color: #ff9500;
  width: 100%;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s linear;
}

.pricing-container .card-container .card button:active {
  scale: 0.99;
}

@media screen and (max-width: 1440px) {
  .pricing-container {
    gap: 60px;
  }
  .pricing-container .wrapper {
    gap: 250px;
  }

  .pricing-container .wrapper .text-container h2 {
    font-size: 38px;
  }

  .pricing-container .wrapper .text-container p {
    font-size: 16px;
  }

  .pricing-container .wrapper .btn-container button {
    padding: 12px 24px;
    font-size: 14px;
  }

  .pricing-container .card-container {
    padding: 50px;
    margin-bottom: 100px;
  }

  .pricing-container .card-container .card {
    padding: 40px 24px 24px;
  }

  .pricing-container .card-container .card h5 {
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .pricing-container .card-container .card .price-wrapper h2 {
    font-size: 60px;
  }

  .pricing-container .card-container .card .price-wrapper span {
    font-size: 16px;
  }

  .pricing-container .card-container .card .features-wrapper {
    padding: 30px;
    gap: 24px;
  }

  .pricing-container .card-container .card .features-wrapper #A1 {
    font-size: 18px;
  }

  .pricing-container .card-container .card .features-wrapper li {
    gap: 8px;
    padding: 12px;
    border-radius: 6px;
  }

  .pricing-container .card-container .card .features-wrapper li p {
    font-size: 14px;
  }

  .pricing-container .card-container .card .features-wrapper li .check-img {
    border-radius: 4px;
    padding: 4px;
    height: 16px;
    width: 16px;
  }

  .pricing-container .card-container .card button {
    padding: 18px 24px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .pricing-container {
    gap: 40px;
  }
  .pricing-container .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .pricing-container .wrapper .text-container h2 {
    font-size: 28px;
  }

  .pricing-container .wrapper .text-container p {
    font-size: 14px;
  }

  .pricing-container .wrapper .btn-container {
    align-self: center;
  }

  .pricing-container .wrapper .btn-container button {
    font-size: 14px;
  }

  .pricing-container .card-container {
    padding: 20px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .pricing-container .card-container .card {
    padding: 30px 20px 20px;
  }

  .pricing-container .card-container .card h5 {
    padding: 8px 22px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .pricing-container .card-container .card .price-wrapper {
    margin-bottom: 30px;
  }

  .pricing-container .card-container .card .price-wrapper h2 {
    font-size: 50px;
  }

  .pricing-container .card-container .card .price-wrapper span {
    font-size: 14px;
  }

  .pricing-container .card-container .card .features-wrapper {
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    gap: 20px;
  }

  .pricing-container .card-container .card .features-wrapper ul {
    padding: 0;
  }

  .pricing-container .card-container .card .features-wrapper li {
    gap: 8px;
    padding: 12px;
    border-radius: 6px;
  }
}
/* FAQ */
